---
layout: page
permalink: styleguide/
title: Styleguide
visibility: hidden
---
<h2 class="styleguide">logo</h2>
<img id="logostyle" src="../../../assets/images/logo.png">

<h2 class="styleguide">Kleuren</h2>
<img id="kleurenplaat" src="../../../assets/images/kleuren.png">
<h2 class="styleguide">Lettertypes</h2>

<div class="row">
<div class="col-md-6">
<h1 class="hoofd1">Heading 1</h1>
<p id="letter">Fjalla One</p>
<p id="letter"> pt 45 </p>


<h2 class="hoofd1">Heading 2</h2>
<p id="letter">Fjalla One</p>
<p id="letter"> pt 40 </p>


<h3 class="hoofd1">Heading 3</h3>
<p id="letter">Fjalla One</p>
<p id="letter"> pt 32 </p>

<h4 class="hoofd1">Heading 4</h4>
<p id="letter">Fjalla One</p>
<p id="letter"> pt 26 </p>
 </div>
  <div class="col-md-6">
<p id="doorlopend"> Doorlopende tekst <p>
<p id="doorlopend"> Axim eatus ea sintibu sapienditas ipicium ut quatemo cum natem re et optas si corepero iuntionseque etur modit et es magnienihit quassint et, simus alignihic tota ne es modita nullaut porem hilici sincit, sectur? Alit esti ario vollenis id quatene ipsa nonectati dus ut quam volorec taturionsed magnisque aut volum, corum aspis abore cusa volorep ernatio et omnis el et ea intia sitatur? Dae modignatem ex et et, il inveniene endis quam fugiam fugiatur, omnitat ionest eatet laborem quiaessim id modis ea vit lam laut et optasperore se eritios volo videl eveleni hiliqua spient.</p>
<p id="doorlopend"> Quicksand, pt 16 </p> 
    </div>
</div>

<h2 class="styleguide">Knoppen</h2>
<img id="knoppenstyle" src="../../../assets/images/buttons.png">

<h2 class="styleguide">Forms</h2>
<img id="formstyle" src="../../../assets/images/forms.png">

<h2 class="styleguide">Afbeeldingen</h2>
<img id="afbeeldingstyle" src="../../../assets/images/achtergrond.png">
<img id="afbeeldingstyle" src="../../../assets/images/iwatch_mockup1.png">
<img id="afbeeldingstyle" src="../../../assets/images/iwatch_mockup2.png">
<img id="afbeeldingstyle" src="../../../assets/images/iwatch_mockup3.png">
<img id="afbeeldingstyle" src="../../../assets/images/iwatch_mockup3.png">
<img id="afbeeldingstyle" src="../../../assets/images/smartphone_mockup1.png">
<img id="afbeeldingstyle" src="../../../assets/images/smartphone_mockup2.png">
<img id="afbeeldingstyle" src="../../../assets/images/smartphone_mockup3.png">
<img id="afbeeldingstyle" src="../../../assets/images/smartphone_mockup4.png">