---
---
/*@charset "UTF-8";*/

@import "main";

html,body{
    margin: 0;
    padding:0;
    height: 100%;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #95989A;
}
h1,h2,h3,h4 {
    font-family: 'Fjalla One', sans-serif;

}
h1 { 
    font-size: 100px;
    color:#000000;
    text-transform: uppercase;
    margin-top: 250px;
    margin-left: 40px;
}

h2 {
    font-size: 70px; 
    color: #4bC8EA;
    text-transform: uppercase;
    }
h3{
    font-size: 30px;
    color: #4bC8EA;
    text-align: center;
    text-transform: uppercase;
}
h4{
    color:#000000;
    text-transform: uppercase;
    font-size: 16px;
}
p{
    line-height: 16px;
    margin-top: 20px;
}
a{
    color:#95989A; 
}
#grijs {
    color: #95989A;
    font-size: 38px;
    margin-top: -15px;
    margin-left: 10px;
    text-transform: none;
}

.zakken {
    margin-top: 5px;
}

.p1 {
    line-height: 15px;
    margin-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

.marges {
    margin-left: 100px;
    margin-right: 100px;
    height: 86vh;
    line-height:2px;

}
#blauwe-balk{
   margin-left: -150px;
   width: 120%;
   position: relative;
  margin-bottom: 0;
   
}
#lichtgrijs{
    background-color:#EBF0EC;
    z-index: 0;

}
#head {
    background-image: url("../images/achtergrond.png");
    background-repeat: no-repeat;
}
.knop1 {
    height: 70px;
}
.spatie {
    height: 77px;
    margin-left: 50px;
    margin-right: 15px;
}
.knop3{
    height: 100px;
    margin-top: 40px;
}
.knop4 {
    height: 93px;
    margin-top: 43px;
}
.phone-watch{
    width: 450px;  
    margin-top:0px; 
}

.center {
    text-align: center;
    
}
.watch{
    height: 300px; 
}
.phone{
    height:350px;
    margin-bottom:-10px;
}
.blog-anderen {
    color:#000000;
    text-align: left;
}

.anderen {
    background-color: #ebf0ec;
    border: 2px solid #ebf0ec; 
    border-radius: 15px;
    padding: 15px;
}
.grotekader{
    margin-top: 7px;
    margin-bottom: 7px;
}
hr { 
    color: #FFF;
    border: solid 1px #FFF;
    border-radius: 4px;
}
.knop2 {
    height: 90px;
}
li{
    list-style-type: none;
    text-align: right;
}

.contact {
    margin-bottom: 40px;
}
.form-control {
    border: 1px solid #12C48B;
    border-radius: 18px;
    font-family: 'Quicksand', sans-serif;
    margin-left:100px;
}
.info {
    margin-top: 87px;
    margin-left: -160px;
    line-height: 55px;
}
.picto {
    color: #12C48B;
    margin-left: 20px;
}
.checkbox {
    font-family: 'Quicksand', sans-serif;
    margin-left: 110px;
    margin-top: 20px;
}

.socialmedia{
    height: 100px;
}
.btn { 
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    background-color: #12C48B;
    color: #FFF;
    border-radius:18px;
    margin-left: 110px;
    height: 30px;
    width: 100px;

}
nav{
    position: fixed;
    right: 10px;
    top: 50%;
    margin-top: -2.5em;
    z-index: 1;
}
nav a:hover {
    text-decoration: none;
}
.nav-bolletje{
    width: 13px;
    margin-top: 7px;
    
}
.nav-bolletje:active{
    width: 9px;
    margin-right: 2px;
}
nav#main li .active img{
    width: 9px;
    margin-right: 2px;
}

.socialmedia li{
    display: inline;
}
.socialmedia li a img{
    width: 30px;
    height: 30px;
    margin-top:70px;
}
.logo-footer{
    width: 200px;
    margin-top: 27px,
}
.footeritems{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
}
.blog{
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
}
.blog h4{
    text-align: left;
}
.left{
    text-align: left;
}
.datum{
    font-size: 12px;
    font-style: italic;
}
a:hover{
    text-decoration: none;
    color:#12C48B; 
}
.post{
    padding-top: 50px;
    padding-bottom: 50px;
}
.back{
    width: 30px;
    margin-left: 50px;
    margin-top: 30px;
}
.footer{
    text-align: center;
    width: 100%;
}
.inside-footer{
    padding-left: 50px;
    padding-bottom: 10px;
}

.pripol li{
    list-style-type: circle;
    text-align: left;
}
.pripol{
    padding-top: 50px;
    padding-bottom: 50px;
}
.post {
    height: 77vh; 

}
/* verticaal centreren*/

.innerDiv1{
    margin-top:7%;
    margin-left: 100px;
    margin-bottom: -1px;
    margin-right: 100px;
    height: 71vh;    
}
.innerDiv2{
    margin-top:5%;
    margin-left: 100px;
    margin-bottom: -1px;
    margin-right: 100px;
    height: 75vh; 
}
.innerDiv3{
    margin-top:3%;
    margin-left: 100px;
    margin-bottom: -1px;
    margin-right: 100px;
    height: 80vh; 
}
.innerDiv4{
    margin-top:5%;
    margin-left: 100px;
    margin-bottom: -1px;
    margin-right: 100px;
    height: 75vh;
}
.innerDiv5{
    margin-top:14%;
    margin-left: 100px;
    margin-bottom: -1px;
    margin-right: 100px;
    height: 58vh;    
}
.innerDiv6{
    margin-top:7%;
    margin-left: 100px;
    margin-bottom: -1px;
    margin-right: 100px;
    height: 87vh;  
}

.styleguide{
    text-align: center;
    margin-top: 40px;
    font-size: 32pt;
    color: #95989A; 
}
#logostyle{
    margin: 50px;
    margin-left: 500px;
    height: 150px;
}
#kleurenplaat{
    margin: 50px;
    margin-left: 410px;
    height: 150px;
 }

 .hoofd1{
     margin-bottom: 20px;
     margin-top:60px;
     margin-left: 30px;
     font-family: 'Fjalla One', sans-serif;
     color:#000000;
 }

 #letter{
     margin-top:10px;
     margin-left:34px;
     line-height:4px;
     color:#000000;
     font-family: 'Fjalla One', sans-serif;
 }

 #doorlopend{
     font-family:'Quicksand', sans-serif;
     margin-top: 60px;
     margin-left: 30px;
     margin-right: 30px;
     color:#000000;
 }

 #knoppenstyle{
     height: 150px;
     margin: 50px;
    margin-left: 410px;
 }

 #formstyle{
    height: 150px;
    margin: 50px;
    margin-left: 500px;
 }

 #afbeeldingstyle{
     height:200px;
     margin-left:30px;
     margin-right:30px;

 }
