.c-picture-viewer {
  $pictureHeight: 800px;
  $pictureWidth: 450px;
  $pictureScaleLarge: 1/3;
  $pictureScaleSmall: 1/5;
  $pictureCount: 5;
  margin: 5%;
  min-width: (($pictureCount - 1) * $pictureScaleSmall + $pictureScaleLarge) * $pictureWidth;
  overflow: hidden;
  position: relative;
  .o-pictures {
    height: $pictureHeight * $pictureScaleLarge;
    position: relative;
    .o-picture {
      cursor: zoom-in;
      height: $pictureHeight * $pictureScaleSmall;
      transition: all .5s ease;
      width: $pictureWidth * $pictureScaleSmall;
      &.is-active {
        height: $pictureHeight * $pictureScaleLarge;
        width: $pictureWidth * $pictureScaleLarge;
      }
    }
  }
  .o-scrollbar {
    $height: 2px;
    height: $height * 3;
    margin-top: 2%;
    position: relative;
    .o-track,
    .o-thumb {
      background-color: $blue;
      bottom: 0;
      margin: auto;
      position: absolute;
      top: 0;
    }
    .o-track {
      height: $height;
      width: 100%;
      opacity: .25;
    }
    .o-thumb {
      $margin: 50px;
      border-radius: $height * 3/2;
      box-sizing: border-box;
      height: $height * 3;
      margin-left: $margin;
      margin-right: $margin;
      transition: all .25s ease-out;
      width: $pictureWidth * $pictureScaleLarge - 2 * $margin;
    }
  }
}