<footer id="lichtgrijs" class="footer">
    <div class="row inside-footer">
        <div class="col-md-4 footeritems"
            <ul>
                <li><a href="/ /"><p>Home</p></a></li>
                <li><a href="/blog/"><p>Blog</p></a></li>
                <li><a href="/privacy-policy/"><p>Privacy Policy</p></a></li>
                <li><a href="/styleguide/"><p>Styleguide</p></a></li>
                <li><p>&copy; Lichtert Eline en Notebaert Kato </p></li>
            </ul>
        </div>
        <div class="col-md-4 footeritems">
            <a href="{{ p.#head | relative_url }}"><img class="logo-footer" src="{{ 'assets/images/logo.png' | relative_url }}">
        </div>
        <div class="col-md-4 footeritems">
            <ul class="socialmedia">
                <li ><a href="{{ p.https://www.facebook.com/ | relative_url }}"><img class="socialmedia" src="{{ 'assets/images/facebook.png' | relative_url }}"></a></li>
                <li><a href="{{ p.https://www.twitter.com/ | relative_url }}"><img class="socialmedia" src="{{ 'assets/images/Twitter.png' | relative_url }}"></a></li>
                <li><a href="{{ p.https://www.instagram.com/ | relative_url }}"><img class="socialmedia" src="{{ 'assets/images/INSTAGRAM.png' | relative_url }}"></a></li>
            </ul>
        </div>
    </div>
</footer>
