---
layout: page
permalink: /
title: Home
---
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Keep Moving</title>
<link href="assets/js/app.js" rel="stylesheet"type="text/javascript">
<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"type="text/css">
<link href="assets/css/app.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
</head>

<body>
    <nav id="main">
    <div class="m1 menu">
        <div id="menu-center">
            <ul>
                <li><a href="#head" class="scroll"><img class="nav-bolletje active" src="assets/images/bolletje.png"></a>

                </li>
                <li><a href="#watis" class="scroll"><img class="nav-bolletje" src="assets/images/bolletje.png"></a>

                </li>
                <li><a href="#watch" class="scroll"><img class="nav-bolletje" src="assets/images/bolletje.png"></a>

                </li>
                <li><a href="#phone" class="scroll"><img class="nav-bolletje" src="assets/images/bolletje.png"><Contact></a>

                </li>
                <li><a href="#anderen" class="scroll"><img class="nav-bolletje" src="assets/images/bolletje.png"></a>

                </li>
                <li><a href="#gratis" class="scroll"><img class="nav-bolletje" src="assets/images/bolletje.png"></a>

                </li>
                <li><a href="#contact" class="scroll"><img class="nav-bolletje" src="assets/images/bolletje.png"><Contact></a>
 
                </li>
            </ul>
        </div>
    </div>
</nav>
    
    <!--begin head-->
    <div id="head" class="container-fluid">
        <div class="row marges" id="home">
          <div class="col-md-7 offset-md-5">
            <h1>Keep Moving</h1>
            <h3 id="grijs">Te druk is geen uitvlucht meer </h3>
            <a href="{{ p.https://itunes.apple.com/nl/genre/ios/id36?mt=8 | relative_url }}"><img class="knop1 spatie" src="{{ 'assets/images/app-store-logo.png' | relative_url }}"></a>
            <a href="{{ p.https://play.google.com/store | relative_url }}"><img class="knop1" src="{{ 'assets/images/Google-Play-Store.png' | relative_url }}"></a>
          </div>          
        </div>
        <a href="{{ p.| relative_url }}"><img id="blauwe-balk" src="{{ 'assets/images/blauwe-balk-03.png' | relative_url }}"></a>
    </div>
    <!--einde head--> 
    
    <!--begin wat is-->
    <div class="container-fluid" id="lichtgrijs">
        
            <div class="row marges innerDiv1" id="watis">
                <div class="col-md-6">
                    <h2>Wat is <br>Keep Moving</h2>
                        <p>Het doel van Keep Moving is om mensen in het dagdagelijkse leven meer te laten bewegen. We zijn ons ervan bewust dat niet
                        iedereen altijd even gemakkelijk is om tijd in te plannen om naar de sportschool te gaan. Vaak is ook de motivatie om na een
                        lange werkdag nog een uurtje in de sportschool te vertoeven of thuis alles aan de kant te schuiven voor een workout ver te
                        zoeken 
                        Daarom onze app Keep Moving. We willen door de dag heen mensen motiveren om meer te bewegen. Dit met functionele,
                        makkelijke bewegingen die men overal, op elk moment kan uitvoeren. Door middel van een alarm en melding wordt jij
                        verscheidene keren per dag herinnerd om een simpele beweging uit te voeren.
                        We willen mensen er ook attent opmaken om genoeg water te drinken doorheen de dag. Na elke reeks van bewegingen en doorheen de dag raadt de app je aan om een groot glas water
                        te drinken.
                        Je kan onze app connecteren met je smartphone waar je de daily challenges en statistieken uitgebreider kan bekijken.</p>
                </div>
                <div class="col-md-6">
                    <img class="phone-watch" src="{{ 'assets/images/smartphone-watch.png' | relative_url }}">
                </div>
            </div> 
               <a href="{{ p.#watch| relative_url }}" ><img id="blauwe-balk" src="{{ 'assets/images/blauwe-balk-03.png' | relative_url }}"></a>
            
    </div>

    <!--einde wat is-->
    <!--begin smartwatch-->
    <div class="container-fluid" id="watch">
        <div class="row marges innerDiv2">
            <div class="col-md-4 center">
                <img class="watch" src="{{ 'assets/images/iwatch_mockup1.png' | relative_url }}">
                <h3>Waterinname</h3>
                 <p class="p1">Doorheen de dag kan je zelf opvolgen hoeveel water je al
                gedronken hebt en hoeveel je nog moet dinken om je doel
                te bereiken. Door een simpele klik op het glas kan je zelf je
                hoeveelheid water aanvullen.</p>
            </div>
            <div class="col-md-4 center">
                <img class="watch" src="{{ 'assets/images/iwatch_mockup2.png' | relative_url }}">
                <h3>Challenges</h3>
                <p class="p1">Zie hoeveel challenges je al bent aangegaan en hoeveel
                je er nog moet voltooien om je dagelijks doel te bereiken.
                Zie je op het einde van de dag dat je nog een tandje
                moet bijsteken of ben je zo gemotiveerd, kies dan nog
                een extra oefening uit het menu.</p>
            </div>
            <div class="col-md-4 center">
                <img class="watch" src="{{ 'assets/images/iwatch_mockup3.png' | relative_url }}">
                <h3>Snoozen</h3>
                 <p class="p1"> Komt het moment van de melding nu echt heel
                ongelegen dan is dit geen probleem . Druk op het klokje
                en jij bepaald zelf hoelang de volgende herinnering uit blijft.
                Maar laat uitstel zeker geen afstel zijn.</p>
            </div>
        </div>
        <a href="{{ p.#phone| relative_url }}" ><img id="blauwe-balk" src="{{ 'assets/images/blauwe-balk-03.png' | relative_url }}"></a>
    </div>
    <!--einde smartwach-->
    <!--begin smartphone-->
    <div class="container-fluid"  id="lichtgrijs">
        <div class="row marges innerDiv3" id="phone">
            <div class="col-md-3 center">
                <img class="phone" src="{{ 'assets/images/smartphone_mockup1.png' | relative_url }}">
                <h3 class="zakken">Daily Challenge</h3>
                <p class="p1">in de daily challenges kan je zien hoever het staat met
                je bewegingsritme van de dag en je hoeveel water
                inname. Je kan ook kiezen om een oefening extra te
                doen of een glas water toe te voegen.</p>
            </div>
            <div class="col-md-3 center">
                <img class="phone" src="{{ 'assets/images/smartphone_mockup2.png' | relative_url }}">
                <h3 class="zakken">Wekelijkse resultaten</h3>
                <p class="p1">Je weekelijkse resultaten tonen met een grafiek aan
                hoeveel beter of minder je tegenover andere dagen in
                die week hebt gepresteerd. Zo vergelijk je makkelijk de
                dagen met elkaar.</p>
            </div>
            <div class="col-md-3 center">
                <img class="phone" src="{{ 'assets/images/smartphone_mockup3.png' | relative_url }}">
                <h3>Maandelijkse resultaten</h3>
                <p class="p1">Hier krijg je een kalender overzicht van de hele
                 maand. Groen zegt dat je de challenges hebt
                voltooid. Bij rood heb je één van of beide niet
                gehaald. Klik je op de dag dan kan je details
                nader bekijken.</p>
            </div>
            <div class="col-md-3 center">
                <img class="phone"src="assets/images/smartphone_mockup4.png">
                <h3 class="zakken">Je profiel</h3>
                <p class="p1">Bij je profiel kan je ten alle tijden je foto, lengte,
                leeftijd en gewicht aanpassen.</p>
            </div>
        </div>
        <a href="{{ p.#anderen | relative_url }}"><img id="blauwe-balk" src="{{ 'assets/images/blauwe-balk-03.png' | relative_url }}"></a>
    </div>
    <!--einde phone-->
    <!--begin anderen-->
    <div class="container-fluid">
        <div class="row blog-anderen marges innerDiv4" id="anderen">
            <div class="col-md-6">
                <h2>Wat anderen<br>zeggen</h2>
                <div class="anderen">                
                    <p>Keep Moving houdt zelfs de hardwerkende mens in beweging. Fit worden/ blijven is
    nog nooit zo eenvoudig geweest. De app op smartphone is makkelijk te gebruiken
    en ideaal te combineren met smartwatch.</p>
                        <h4>Het Nieuwsblad</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="anderen grotekader">
                    <p>Woooooow, ik ben helemaal fan!! <br> #IKeepMoving</p>
                        <h4>HLiesje_123</h4>
                    <hr>
                    <p>Ik wist niet dat fit blijven en calorieën verbranden zo makkelijk kon zijn!</p>
                    <h4>Emaaaatje</h4>
                    <hr>
                    <p>Deze app is mega, fantastisch en cool! Ik raadt hem zeker aan al mijn volgers aan.<br>
    #KeepMoving #TeDrukIsGeenUitvluchtMeer #IPhone #IWatch #BecomeFit #StayFit #TeVeelHashtags
                    <h4>JustMe</h4>
                    <hr>
                    <p>Een echte aanrader!
                    <h4>KatoNtebaert</h4>
                    <hr>
                    <p>Zeer eenvoudig te gebruiken op alle momenten van de dag! Ik heb me nog nooit zo fit gevoeld.<br>
    #ZoFitAlsEenHoentje
                    <h4>Lichtert_Eline</h4>
                </div>
            </div>
        </div>
        <a href="{{ p.#gratis | relative_url }}"><img id="blauwe-balk" src="{{ 'assets/images/blauwe-balk-03.png' | relative_url }}"></a>
    </div>
    <!--einde anderen-->
    <!--begin gratis-->
    <div class="container-fluid" id="lichtgrijs">
        <div class="center marges innerDiv5" id="gratis" >
            <h2 class="gratis">Gratis Gebruiken</h2>
            <a href="{{ p.https://itunes.apple.com/nl/genre/ios/id36?mt=8 | relative_url }}"><img class="knop3" src="{{ 'assets/images/app-store-logo.png' | relative_url }}" ></a>
            <a href="{{ p.https://play.google.com/store | relative_url }}"><img class="knop4" src="{{ 'assets/images/Google-Play-Store.png' | relative_url }}" ></a>
        </div> 
        <a href="{{ #contact | relative_url }}" ><img id="blauwe-balk" src="{{ 'assets/images/blauwe-balk-03.png' | relative_url }}"></a>          
    </div>   
    <!--einde gratis-->
    <!--begin contact-->
    <div class="container-fluid">
        <div class="marges innerDiv6" id="contact">
            <h2 class="contact">Contacteer Ons</h2>
            <div class="row">
                <div class="col-md-5 info">
                    <ul>
                        <li>Industrieweg 232, 9030 Gent <span class="glyphicon glyphicon-map-marker picto"></span></li>
                        <li>09 234 86 00 <span class="glyphicon glyphicon-earphone picto"></span></li>
                        <li><a href="{{ p.mailto:info@keepmoving.be | relative_url }}">{{ p.info@keepmoving.be }}</a><span class="glyphicon glyphicon-envelope picto"></span></li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Naam">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="E-mailadres">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="20" placeholder="Uw boodschap"></textarea>
                        </div>
                         <div class="checkbox">
                            <label><input type="checkbox" > Inschrijven voor de nieuwsbrief</label>
                         </div>
                        <button class="btn btn-default" type="submit">Verstuur</button>
                </div>
            </div>
        </dic>
        <!--einde contact-->
</body>
</html>
<!-- nog te doen:
    IN DE SITE:
        * groene navbar bolletjes > probleem met linken
                ik hzb js toegevoegd zodat de bolletjes verkleinen als ze active zijn,
                maar nu lijken ze niet meer gelinkt te zijn
        * footer > blog, home, Privacy policy dichter bij elkaar
        * blog: volgorde klopt niet + 
                wanneer je op meer lezen klikt bij de laatste 2 kom je niet in de juite post (zie site jekyll voor uitleg blog)
        * evt blauwe balk iets kleiner maken? moet niet als jij het zo ok vindt
        * stye guide
        * posts: footer tegen onderkant scharm + 'back' button

    NIET IN DE SITE
        * blog maken
        * styletiles
        * footer aanpassen in wireframes
        * knopje voor nieuwsbrief toevoegen aan wieframes
        * favicon = vervormd (moet vierkante afb zijn denk ik)
        * als favicon misschien eerder een spierbal nemen omdat dat duidelijker is ??
-->