---
layout: page
permalink: blog/
title: Blog
---
<a href="/ /"><img class="back" src="../assets/images/back.png"></a>
<div class="blog">
    <h2>Blog</h2>
    <ul>{% for post in site.posts %}
        <li>
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
            <a href="{{ post.url | prepend: site.baseurl }}">Meer lezen...</a>
        </li>{% endfor %}
    </ul>
</div>