---
layout: page
permalink: privacy-policy/
title: Privacy Policy
---
<div class="container pripol">
<h2>Privacy Policy</h2>

<p>We have written our privacy policy to be understandable for humans (not just lawyers). By using our Keep Moving app (the “App”), future products, services or features we develop and introduce, or our website (together the “Services”), you consent to the collection, processing and disclosure of data concerning you in accordance with this privacy policy.</p>
<h4>Data collection and processing</h4>
<p>Keep Moving collects data from your phone to provide you with an easy way to track how and where you move in your everyday life. When you install, run or use our services we collect:</p>
<ul>
    <li>Location.<br> Our system starts to collect location data from sources such as GPS, Wi-Fi and cell towers once you install the App and consent to the App’s tracking your location. 
        We also collect Accelerometer samples, Wi-Fi network IDs, activity data, and places you identify with the Services. You may choose to stop our collection of location data through the Settings that we provide in the App, or by removing the App from your phone.</li>
    <li>Information you provide. <br>If you choose to create an account, you provide us your email and a password. You may also provide other information such as your gender, height, weight, and birth year in order to use all of the App’s features.</li>
    <li>Information from your device.<br> This includes information about your operating system, device identifier, carrier, language, battery performance, wi-fi or other network connections, or other data that you permit the App to access on your device including through permissions on your device (e.g. Google Play on Android).</li>
    <li>Communications with us. <br>If you communicate with us, we collect the information and content you provide to us, including personally identifying information such as your name, email or other contact information. You can provide anonymous feedback by using an email account that does not reveal your identity.</li>
</ul>
<h4>How we use information</h4>
<p>We process and use the information we collect about you in a variety of ways. 
    The primary purpose is to provide you with an easy way to track how and where you move in your everyday life. 
    We upload your information from your device over a secured connection to our servers in order to analyze the data and identify your activities, routes and places. 
    Results are sent back to your phone over a secured connection so that you can view and interact with them, and they are stored on our servers. 
    If you label a place, such as your home or work, or change an activity type, we also collect and store that information.</p>
<p>Other ways we use your data include to develop aggregated analyses and reports that help us improve our algorithms, measure and understand how our Services are used, and to develop new products, services and features such as by recognizing popular activities, routes, areas and places. 
    We also use your information to communicate with you, such as by sending you notifications and service-related messages, or by responding to your requests and questions.</p>
<h4>Cookies and Similar Technologies</h4>
<p>We may collect information about your use of our Services through the use of cookies, pixels or similar technologies. 
    For example, we may use this information to provide or improve our Services, for measurement and analytics to better understand how our services function and are used, or for internal operations. 
    Cookies are small pieces of data that are stored on your mobile phone, computer, or other device. Pixels, often used in connection with cookies, are small instances of code placed in webpages that do things like allow another server to measure how frequently webpages are viewed and used.</p>
<p>Third parties may also use cookies to collect information about your activities on our website. Your browser or device may offer you control over the use cookies or other technologies when you use the Services. 
    For example, you may be able to set your browser or device to disable, clear, reset or block the use of cookies or similar technologies.</p>
<h4>Sharing data with third parties</h4>
<p>To provide and support the services we provide to you, information we collect and receive may be disclosed to third parties in and out of the European Economic Area as (i) described in this policy, (ii) if you otherwise give your consent, or (iii) if the disclosure is legally required.</p>
<ul>
    <li>If you choose to use any of the third party apps or services that use the Keep Moving API, you may consent to the disclosure of your information to those third parties.</li>
    <li>We may disclose information about you or your use of our Services to service providers or other partners that work on our behalf to support our business 
        (e.g. information processing and storage, provide place recommendations, map thumbnails, and measuring the performance of our App).</li>
    <li>We may share information, including personally identifying information, with our Affiliates 
        (companies that are part of our corporate groups of companies, including but not limited to Facebook) to help provide, understand, and improve our Services.</li>
    <li>We may access, use, preserve, and share your information, including your personally identifying information, with third parties when we have a good faith belief that it is necessary to: 
        detect, prevent and address fraud and other illegal activity; protect ourselves, you and others, including as part of investigations; 
        or prevent death or imminent bodily harm. We may also share such information if we believe that you have abused your rights to use the Services or violated an applicable law, or in connection with any dispute between you and us with respect to the Services.</li>
    <li>If we sell all or part of our business, make a sale or transfer of assets, are otherwise involved in a merger or business transfer, or in the event of bankruptcy, we may disclose and transfer your personally identifying information to one or more third parties as part of that transaction.</li>
    <li>We may also generally disclose aggregate or anonymous information where reasonable steps have been taken to ensure the data does not contain your personally identifying information.</li>
</ul>
<h4>The security of our systems</h4>
<p>We use third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to provide the service. 
    These may be located at destinations outside the European Economic Area. By submitting your personally identifying information, you agree to this. 
    We use commercially reasonable physical and technical safeguards to secure your data. We encrypt the communication channels using SSL. 
    However, we cannot guarantee the security of your data, which may be compromised by unauthorized entry or use, hardware or software failure, and other factors.</p>
<h4>Your access to the data</h4>
<p>You may download a copy of your Keep Moving information using the tool we provide on our website by signing in with your email and account.</p>
<h4>Data retention and deletion</h4>
<p>We may retain information regarding you and your use of the Services, including personally identifying information, for as long as needed to provide you with the Services and the uses described in this Privacy Policy. 
    This often means that we will keep information for the duration of your account. 
    If you choose, you may use the Delete Account / Data Settings in the App to request the deletion of your information and your Keep Moving account.</p>
<h4>Changes to our privacy policy</h4>
<p>We reserve the right to alter our privacy policy at any time. 
    We will notify you of any alterations with reasonable notice through the service, such as by posting it on our website, by email, or otherwise. 
    If you do not agree to the altered privacy policy, you may stop using our Services.</p>
<p>Last updated and effective as of May 1, 2017.</p>
<h4>Controller</h4>
<p>ProtoGeo Oy<br>Salomonkatu 17 A<br>00100 Helsinki, Finland<br></p>
<p>email: <a href="mailto:keepmovingprivacy@protogeo.com">Keep Movingprivacy@protogeo.com</a></p>
<h4>Representative</h4>
<p>ProtoGeo Oy<br>Attn: Keep Moving<br>1601 Willow Road<br>Menlo Park, CA 94025</p>