---
layout: page
permalink: contact/
title: Contact
---
<h1>Contacteer ons</h1>

<form action="" id="contact-form">
    <div class="form-group row">
        <label for="email-input" class="col-form-label col-md-2">E-mailadres</label>
        <div class="col-md-10">
            <input id="email-input" name="email" class="form-control" type="email" placeholder="name@example.org" required>
            <small class="form-control-feedback"></small>
        </div>
    </div>
    <div class="form-group row">
        <label for="message-textarea" class="col-form-label col-md-2">Bericht</label>
        <div class="col-md-10">
            <textarea id="message-textarea" class="form-control" name="message"minlength="3" required></textarea>
            <small class="form-control-feedback"></small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-2">
            <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane fa-fw mr-2"></i>Bericht versturen</button>
        </div>
    </div>
</form>